<!DOCTYPE html>
<html>
    <head>
        <title>Fun Facts About the Mesolithic Era!</title>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
             }
        </style>
    </head>
    <body>
        <h1>Fun Facts About the Mesolithic Era!</h1>
        <p>-People May Have Been Religious.<br>
        -Humans Settled In Permanent Villages For The First Time.<br>
        -Neolithic people domesticated plants like wheat, barley, rice, squash, <br>
        and corn, as well as animals like cattle, pigs, sheep, and chickens. <br>
        These ingredients still make up the base of most diets in the world today.<br>
        -The main piece of clothing was a tunic, which was worn over the torso. <br>
        -In the Old World the Neolithic was succeeded by the Bronze Age when human <br>
        societies learned to combine copper and tin to make bronze, which replaced stone <br>
        for use as tools and weapons.<br>
        -The Neolithic period in human development lasted from around 10,000 BCE until 3,000 BCE.<br>
        -In many areas, people packed mud bricks together to build round or rectangular houses.<br>
        </p>
    </body>
    <img src="../static/neolithic second.jpg" height="400px" width="700px">
</html>