<!DOCTYPE html>
<html>
    <head>
        <title>Fun Facts About the Paleolithic Era!</title>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
             }
        </style>
    </head>

    <body>
        <h1>Fun Facts About the Paleolithic Era!</h1>
        <p>-The Paleolithic is by far the longest period of humanity's time, about 99% of human history.<br>
        -The geological period which corresponds to the Paleolithic is the Pleistocene.<br>
        - Stone tools were not only made by our own species, Homo sapiens.<br>
        -In 1865 an archeologist John Lubbock created the term 'Paleolithic'. It is derived from Greek <br>
        words 'palaios' meaning 'old', 'lithos' meaning 'stone'. Together these words were meant to <br>
        represent 'Old Stone Age'.<br>
        -The Paleolithic Age ended when the last ice age ended and the earth warmed up.<br>
        -Climate change during the Paleolithic Age was characterized by glacial cycles. <br>
        There were four major glacial cycles, which affected the entire earth.</p>
    </body>
    <img src="../static/paleothic second.jpg" height="400px" width="700px" >
</html>