<!DOCTYPE html>
<html>
    <head>
        <title>Fun Facts About the Mesolithic Era!</title>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
             }
        </style>
    </head>
    <body>
        <h1>Fun Facts About the Mesolithic Era!</h1>
        <p>-In India, it spanned around 9,000 B.C. to 4,000 B.C.<br>
            -This age was a transitional phase between the Paleolithic Age and the Neolithic Age.<br>
            - The people of this age lived on hunting, fishing, and food gathering initially but later <br>
            on they also domesticated animals.<br>
            -During the Mesolithic period, humans developed cave paintings, engravings, <br>
            and ceramics to reflect their daily lives.<br>
            -These nomadic people had a vast knowledge of edible plants, fungi, berries, nuts, <br>
            shellfish and seaweed as well as wild animals, fish and birds. <br>
            -Methods of cooking their food included cooking on hot stones, roasting meat in a fire <br>
            pit and baking fish and meat in clay.<br>
            -In northwestern Europe, for instance, the Mesolithic began about 8000 bce, after the end of the Pleistocene <br>
            Epoch (i.e., about 2,600,000 to 11,700 years ago), and lasted until about 2700 bce.
            </p>
            <img src="../static/mesolithic second.jpg" height="400px" width="700px">
    </body>
</html>