<html>
    <head>
        <title>The Mesolithic Era</title>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
                padding-top:30px;
            }
        </style> 
    </head>
    <body>
        <h1>The Mesolithic Era</h1>
        <p>The Mesolithic was a period in the development of human technology between<br> 
            the Paleolithic and Neolithic periods of the Stone Age. In the Palaeolithic,<br> 
            people were pure hunter-gatherers. In the Neolithic they were farmers in settlements<br> 
            with domesticated animals and wheat, with over 100 kinds of tools and with pottery.<br>
            During the first three thousand years of what scholars recognize as the Mesolithic,<br>
            a period of climatic instability made life difficult in Europe, with gradual<br>
            warming abruptly switching to 1,200 years of very cold dry weather called the Younger Dryas.<br>
            By 9,000 BCE, the climate had stabilized to close to what it is today.Stone tools <br>
            were made from microliths—tiny chips of stone made from blades or bladelets and set into<br>
            toothed slots in bone or antler shafts. Tools made of composite material—bone, antler, wood<br>
            combined with stone—were used to create a variety of harpoons, arrows, and fish hooks. <br>
            Nets and seines were developed for fishing and trapping small game; the first fish weirs, <br>
            deliberate traps placed in streams, were constructed.</p>
            <img src="../static/mesolithic.jpg" height="400px" width="700px" >
    </body>