<!DOCTYPE html>
<html>
    <head>
        <title>The Neolithic Era</title>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
                padding-top:30px;
            }
        </style> 
    </head>
<body>
    <h1>The Neolithic Era</h1>
    <p>The Neolithic Revolution, also called the Agricultural Revolution,<br>
        marked the transition in human history from small, nomadic bands of hunter-gatherers to larger,<br>
        'agricultural settlements and early civilization. ... Shortly after, Stone Age humans in other<br>
        parts of the world also began to practice agriculture.In other places the Neolithic followed the<br>
        Mesolithic and then lasted until later. In Northern Europe, the Neolithic lasted until about<br>
        1700 BCE, while in China it extended until 1200 BCE. Other parts of the world (including Oceania<br>
        and the northern regions of the Americas) remained broadly in the Neolithic stage of development<br>
        until European contact.In the Old World the Neolithic was succeeded by the Bronze Age when human<br>
        societies learned to combine copper and tin to make bronze, which replaced stone for use as tools and<br>
        weapons.The people of the New Stone Age also learned how to train animals to be useful to humans.<br>
        The training of crops and animals is called domestication. No one is sure which animal was the first<br>
         to be domesticated by humans. </p>
         <img src="../static/neolithic.jpg" height="400px" width="700px" >
</body>
</html>