<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color:tan;
                border:brown dashed medium;
                font-family:Georgia, 'Times New Roman', Times, serif;
                font-size:25px;
                text-align:center;
                padding-top:30px;
            }
        </style>
        <title>The Paleolithic Era</title>
    </head>
    <body>
        <h1>The Paleolithic Era</h1>
        <p>In the Paleolithic period (roughly 2.5 million years ago to 10,000 B.C.), <br>
            early humans lived in caves or simple huts and were hunters and gatherers. <br>
            They used basic stone and bone tools, as well as crude stone axes, for hunting birds and wild animals.<br> 
            They cooked their prey, including woolly mammoths, deer and bison, using controlled fire. <br>
            They also fished and collected berries, fruit and nuts.<br>
            Ancient humans in the Paleolithic period were also the first to leave behind art. <br>
            They used combinations of minerals, ochres, burnt bone meal and charcoal mixed into <br>
            water, blood, animal fats and tree saps to etch humans, animals and signs. <br>
            They also carved small figurines from stones, clay, bones and antlers.<br>
            The end of this period marked the end of the last Ice Age, <br>
            which resulted in the extinction of many large mammals and rising sea levels and <br>
            climate change that eventually caused man to migrate.<br>
        </p>
        <img src="../static/paleolithic.jpg" height="400px" width="700px" >
    </body>
</html>